# Ignore everything
/**

# Un-ignore
!/.gitignore
!/.gitattributes
!/.github/**

# Un-ignore source code
!/*.cpp
!/*.h

# Un-ignore webapp source
!/webapp/
!/webapp/*

# TODO: Move source code to "src" directory, documents to "doc", and sample file and tests to "testing"
