# Ignore everything
/**

# Un-ignore
!/.gitignore
!/.gitattributes
!/.github/
!/.github/**
!/LICENSE
!/Makefile
!/*.md

# Un-ignore source code
!/*.cpp
!/*.h

# Un-ignore web app source files
!/webapp/
!/webapp/*.cpp
!/webapp/*.h
!/webapp/*.js
!/webapp/*.html
/webapp/dmf2mod.js

# zlib - See zlib/.gitignore

# zstr - Un-ignore all
!/zstr/
!/zstr/**

# TODO: Move source code to "src" directory, documents to "doc", and sample file and tests to "testing"
